<!-- Character Generator -->
<DIV id="partyHolder">
   <DIV id="partyTitle" class="ctrboxen actions">
      <B><U>Party &amp; Character Creator</U></B>
      <DIV id="partyNaming">Name your Party: <INPUT id=partyName></INPUT></DIV>
      <DIV id="heroHolder">
         
      </DIV>
   </DIV>
   <DIV id="actions" class="ctrboxen actions"></DIV>
   <DIV id="charCreatorPropertiesHolder" class="ctrboxen rightAligned">
   </DIV>
   
</DIV>
